{% extends 'base.html' %}

{% block title %}Empresa 1{% endblock %}
{% block content %}
<div id="app" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center mt-3">Listado de empresas</h1>
            <div id="filas" class="row" v-for="empresa in empresas">                        
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">
                    <p>[[ empresa.user ]]) [[ empresa.nombre ]]</p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <p>Cuit: [[ empresa.cuit ]]</p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <p>Usuario: [[ empresa.nombreUser ]]</p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">  
                    <p>
                       <button class="btn btn-success">Editar</button>
                       <button class="btn btn-danger">Eliminar</button>
                    </p>                   
                </div>
            </div>
        </div>
    </div>
    <p><a href="create/">Crear empresa</a></p>
    <p><a href="">Volver</a></p>    
</div>
{% endblock %}
{% block extraJS %}
    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                empresas: '',
                errors: []
            },
            mounted: function(){
                this.getEmpresa()
            },
            methods: {
                getEmpresa(){
                    axios.get('http://localhost:8000/api/empresas/')
                    .then((response) => {
                        this.empresas = response.data;
                        console.log(this.empresas);
                    })
                    .catch((error) => {
                        console.log(error);
                    })
                }
            }
        })
    </script>
{% endblock %}
{% block extraCSS %}
<style>
#app {
    background-color: rgb(115, 115, 168);
}
#filas {
    background-color: silver;
}
p {
    margin-top: 1em;
}
</style>
{% endblock %}
